@{
    ViewBag.Title = "Add Users";
}

<form method="post" >
  <label for="Username">Username</label>
  <input type="text" class="form-control" id="Username" name="Username" required>
  <label for="FullName">Full Name</label>
  <input type="text" class="form-control" id="FullName" name="FullName" required>
  <label for="Email">Email</label>
  <input type="Email" class="form-control" id="Email" name="Email" required>
  <label for="Address">Address</label>
  <input type="text" class="form-control" id="Address" name="Address" required>
  <label for="Password">Password</label>
  <input type="password" class="form-control" id="Password" name="Password" required>
  <label for="Role">Role</label>
  <select class="form-control" id="Role" name="Role" required>
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    <option value="Employee">Employee</option>
    <option value="Manager">Manager</option>
    <option value="Owner">Owner</option>
  </select>
  <input type="submit" class="btn btn-primary" value=Update>
</form>
