@{
  ViewBag.Title = "Edit User";
}
@model gammingStore.Models.User

<form method="post">
    <label asp-for="Username"></label>
    <input asp-for="Username" class="form-control" />
    <label asp-for="FullName"></label>
    <input asp-for="FullName" class="form-control" />
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <label asp-for="Role"></label>
    <input asp-for="Role" class="form-control" />
    <input type="submit" value="Save">
</form>
