@{
  ViewBag.Title = "Admin";
}
<div>
  <h1>Admin</h1>
  <p>Welcome to the Admin page</p>
  <a href="/Employees/Products">Products</a>
  <a href="/Employees/Users">Users</a>
  <a href="/Employees/Orders">Orders</a>
  @* to be implemented later *@
  <!-- <a href="/Admin/Reports">Reports</a> -->
  <a href="/User/Logout">Logout</a>
</div>
