@{
  ViewBag.Title = "Admin";
  bool isAdmin = User != null && (User.IsInRole("Admin") || User.IsInRole("Owner"));
}
<div>
  <h1>Admin</h1>
  <h3>Welcome to the Admin page</h3>
  <div>
  <a href="/Employees/Products" class="btn">Products</a>
  @if(isAdmin) {
    <a href="/Employees/Users" class="btn">Users</a>
  }
  <a href="/Employees/Orders" class="btn">Orders</a>
  <a href="/Employees/UnderDelivery" class="btn">Under delivery</a>
  @* to be implemented later
  <a href="/Admin/Reports" class="btn">Reports</a> 
  *@
  <a href="/User/Logout" class="btn">Logout</a>
  </div>
</div>
