@{
  
}
@model List<gammingStore.Models.Order>

<h1>Under Delivery</h1>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Price</th>
    <th>ProductName</th>
    <th>Quantity</th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
@foreach(var item in Model){
  <tr>
    <td>@item.Id</td>
    <td>@item.Price</td>
    <td>@item.Quantity</td>
    <td>@item.ProductName</td> 
    <td>
      <a href="/Employees/Delivered/@item.Id"> Delivered? </a>
    </td>
  </tr>
}
</tbody>
</table>
