@{
  ViewBag.Title = "Change Password";
}
<div id="form">
    <label for="OldPassword">Old Password</label>
    <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
    <label for="NewPassword">New Password</label>
    <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
    <label for="ConfirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
    <button onclick="changePassword()" class="btn btn-primary">Change Password</button>
</div>
<script>
  function changePassword(){
    const oldPassword = document.getElementById('OldPassword').value;
    const newPassword = document.getElementById('NewPassword').value;
    const confirmPassword = document.getElementById('ConfirmPassword').value;
    if (newPassword !== confirmPassword && newPassword !== '' && confirmPassword !== ''){
      alert('New Password and Confirm Password do not match');
      return;
    }
    if (!(newPassword.length >= 8 && newPassword.match(/[0-9]/) 
      && (/[A-Z]/).test(newPassword) 
      && (/[a-z]/).test(newPassword)
      && (/[!#$%^&*()_+@("@")]/).test(newPassword))){
      alert('password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number and one special character');
      return;
    }
    fetch('/User/ChangePassword', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        oldPassword: oldPassword,
        newPassword: newPassword
      })
    }).then(data => {
      if(data.status === 200){
        alert('Password changed successfully');
        window.location.href = '/User';
      }
      else{
        data.json().then(x => alert(`password failed to change: ${ x.message }`));
      }
    })
  }
</script>
