@{
  ViewBag.Title = "EditUser";
}
@model gammingStore.Models.User

<div id ="edit">
<div>
<h1>Edit User</h1>
<h2> sorry username cannot be changed</h2>
</div>
<form method="post" style="width: 100%">
    <label for="FullName">Full Name</label>
    <input type="text" id="FullName" name="FullName" value="@Model.FullName" required>
    <label for="Email">Email</label>
    <input type="Email" id="Email" name="Email" value="@Model.Email" required>
    <label for="Address">Address</label>
    <input type="text" id="Address" name="Address" value="@Model.Address" required>
    <p>changing address will change the delivery address for all the orders </p>
    <label for="Password">Password</label>
    <input type="password" name="Password" id="Password">
    <input type="submit" class="btn btn-primary" value=Update required>
</form>
<div> 
  <h4>want to change password?</h4>
  <a href="/User/ChangePassword">Change Password</a>
</div>
</div>
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', Add)
  function Add(event){
    const fullName = document.querySelector('#FullName').value;
    const email = document.querySelector('#Email').value;
    const address = document.querySelector('#Address').value;
    const password = document.querySelector('#Password').value;
    if ((/^\s*$/).test(fullName) || (/^\s*$/).test(email) || (/^\s*$/).test(address)){
      alert('Full Name, Email and Address must not be empty');
      event.preventDefault();
      event.stopPropagation();
    }
  }
</script>
<style>
  @("@")media (max-width: 768px){
    form{
      width: 100%;
    }
    #edit{
      height: 100%;
    }
  }
</style>
