@{
  ViewBag.Title = "EditUser";
}
@model gammingStore.Models.User

<div container>
<div>
<h1>Edit User</h1>
<h2> sorry username cannot be changed</h2>
</div>
<form method="post" >
    <label for="FullName">Full Name</label>
    <input type="text" class="form-control" id="FullName" name="FullName" value="@Model.FullName" required>
    <label for="Email">Email</label>
    <input type="Email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
    <label for="Address">Address</label>
    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" required>
    changing address will change the delivery address for all the orders
    <input type="submit" class="btn btn-primary" value=Update>
</form>
<div> 
  <h4>want to change password?</h4>
  <a href="/User/ChangePassword">Change Password</a>
</div>
</div>
