@{
    ViewData["Title"] = "Create Account";
  
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment
<div id="regForm">
  <div clase="form-group">
    <label for="fullName">Full Name</label>
    <br>
    <input name="FullName" type="text" required/>
  </div>
  <div clase="form-group">
    <label for="Email">Email</label>
    <br>
    <input name="Email" type="email" required/>
  </div>
  <div clase="form-group">
    <label for="Username">Username</label>
    <br>
    <input name="Username" type="text" required/>
  </div>
  <div clase="form-group">
    <label for="Password">password</label> 
    <br>
    <input name="Password" type="password"  required/>
  </div>
  <div clase="form-group">
    <label for="ConfirmPassword">Confirm Password</label>
    <br>
    <input name="ConfirmPassword" type="password" required/>
  </div>
  <div clase="form-group">
    <label for="Address">Address</label> <br>
    <input name="Address" type="text" required/>
  </div>
    <button onclick="Register()">Register</button>
</div>


<script>
  function Register(){
    const fullName = document.querySelector('#regForm input[name="FullName"]').value;
    const email = document.querySelector('#regForm input[name="Email"]').value;
    const username = document.querySelector('#regForm input[name="Username"]').value;
    const password = document.querySelector('#regForm input[name="Password"]').value;
    const confirmPassword = document.querySelector('#regForm input[name="ConfirmPassword"]').value;
    const address = document.querySelector('#regForm input[name="Address"]').value;
    @if(Environment.IsDevelopment())
    {
      <text>
      console.log(fullName);
      console.log(email);
      console.log(username);
      console.log(password);
      </text>
    }
    if(password !== confirmPassword){
      alert('passwords do not match');
      return;
    }
    if (!(password.length > 8 && password.match(/[0-9]/) 
      && (/[A-Z]/).test(password) 
      && (/[a-z]/).test(password)
      && (/[!#$%^&*()_+@("@")]/).test(password))){
      alert('password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number and one special character');
      return;
    }
    else {
      fetch('/User/Register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          fullName: fullName,
          email: email,
          username: username,
          password: password,
          address: address
        })
      })
      .then(data => {
        if(data.success){
          alert('Registration successful');
          window.location.href = "/User/Login";
        }
        else {
          data.json().then(data => {
            alert(data.Message);
          })
        }
      })
    }
  }
</script>
