.card{
  width: 20%;
  height: 20%;
  background-color:transparent;
  border-radius: 16px;
  overflow: hidden;
}
.card img{
  width: 70%;
  height: 70%;
  object-fit: contain;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
