#register,
form,
.form {
  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 35%;
  max-height: 100%;
  backdrop-filter: blur(17.1px);
  -webkit-backdrop-filter: blur(17.1px);
  padding: 20px 0px;
  height: min-content;
}

#register input,
.form input,
form input {
  width: 90%;
  height: 40px;
  font-size:1.2rem;
  border-radius: 5px;
  margin:0  5%;
  border: 1px solid #ccc;
}

#register label,
.form label,
form label {
  margin: 0 5%;
  font-size: 2rem;
  color: black;
  font-family: "Sans Serif";
}

#register button,
.form button,
form input[type="submit"] {
  background-color: blue;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  min-height: 40px;
  max-height: max-content;
  width: max(30%, min-content);
  font-size: 1.5rem;
  color: whitesmoke;
}
#register button:focus,
.from button:focus,
form input[type="submit"]:focus,
submit-btn:focus{
  outline: none;
  color: black;
  box-shadow: 0 0 0 0;
}
form select {
  width: 90%;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 0 5%;
  border: 1px solid #ccc;
}
